.TodoList {
    width: 100%;
}

.TodoList ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.TodoList ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

