@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  font-family: var(--font-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-1: #CBE4DE;
  --color-2: #0E8388;
  --color-3: #2E4F4F;
  --color-4: #2C3333;
  --font-1: 'Lobster', cursive;
  --size-1: 14px;
  --size-2: 18px;
  --size-3: 28px;
  --size-4: 40px;
}